<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&family=Roboto:wght@300;400;500;700&display=swap" rel="stylesheet">
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            setTimeout(function() {
                var flashMessages = document.querySelectorAll('.flash');
                flashMessages.forEach(function(message) {
                    message.style.opacity = '0';
                    setTimeout(function() {
                        message.remove();
                    }, 300);
                });
            }, 3000);
        });
    </script>
</head>
<body>
    <header>
        <nav>
            <div class="logo">LK</div>
            <div id="dateTime" class="nav-date-time"></div>
            <button id="hamburger-menu" class="hamburger-menu">&#9776;</button>
            <ul id="desktop-menu" class="menu">
                <li><a href="{{ url_for('home') }}">Home</a></li>
                {% if current_user.is_authenticated %}
                    <li><a href="{{ url_for('dashboard') }}">Dashboard</a></li>
                    <li><a href="{{ url_for('home') }}#contact">Contact</a></li>
                    <li><a href="{{ url_for('logout') }}">Logout</a></li>
                {% else %}
                    <li><a href="{{ url_for('home') }}#contact">Contact</a></li>
                    <li><a href="{{ url_for('register') }}">Register</a></li>
                    <li><a href="{{ url_for('login') }}">Login</a></li>
                {% endif %}
            </ul>
            <div id="mobile-menu" class="mobile-menu">
                <button id="close-btn" class="close-btn">&times;</button>
                <ul class="menu">
                    <li><a href="{{ url_for('home') }}">Home</a></li>
                    <br>
                    {% if current_user.is_authenticated %}
                        <li><a href="{{ url_for('dashboard') }}">Dashboard</a></li>
                        <br>
                        <li><a href="{{ url_for('home') }}#contact">Contact</a></li>
                        <br>
                        <li><a href="{{ url_for('logout') }}">Logout</a></li>
                        <br>
                    {% else %}
                        <li><a href="{{ url_for('home') }}#contact">Contact</a></li>
                        <br>
                        <li><a href="{{ url_for('register') }}">Register</a></li>
                        <br>
                        <li><a href="{{ url_for('login') }}">Login</a></li>
                    {% endif %}
                </ul>
            </div>
        </nav>
    </header>

    <section class="register-section">
        <div class="form-container">
            <h2>Register</h2>
            {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    <div class="flash-messages">
                        {% for category, message in messages %}
                            <div class="flash {{ category }}">{{ message }}</div>
                        {% endfor %}
                    </div>
                {% endif %}
            {% endwith %}
            <form method="post" action="{{ url_for('register') }}">
                {{ form.hidden_tag() }}
                <label for="username">Username:</label>
                <input type="text" id="username" name="username" required/>

                <label for="email">Email:</label>
                <input type="email" id="email" name="email" required/>

                <label for="password">Password:</label>
                <input type="password" id="password" name="password" required/>

                <button type="submit">Register</button>
            </form>
            <p><a href="{{ url_for('login') }}">Already have an account? Login here.</a></p>
        </div>
    </section>
    <footer>
        <p>&copy; 2024 Liam Kinnaird. All rights reserved.</p>
    </footer>
    <script>// Function to update date and time
        function updateDateTime() {
            const now = new Date();
            const dateTimeString = now.toLocaleString('en-US', {
                dateStyle: 'medium',
                timeStyle: 'medium',
                hour12: true
            });
            document.getElementById('dateTime').innerText = dateTimeString;
        }

        // Update the date and time every second
        setInterval(updateDateTime, 1000);
        // Initial call to display the date and time immediately
        updateDateTime();</script>
</body>
</html>
